<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.daozhao.hello">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="*" />
        </intent>
        <intent>
            <action android:name="com.daozhao.alarm.action"/>
            <data android:scheme="*" />
        </intent>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice" />
        </intent>
    </queries>
    <application
        android:name=".CrimeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloDaozhao">

        <meta-data
            android:name="push_kit_auto_init_enabled"
            android:value="false" />

        <activity android:name="com.daozhao.hello.activity.Deeplink2Activity" android:exported="true">
            <intent-filter>
                <action android:name="com.daozhao.push.action" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name="com.daozhao.hello.activity.DeeplinkActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.daozhao.push.intent"
                    android:path="/deeplink"
                    android:scheme="pushscheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.daozhao.hello.activity.DaozhaoActivity"
            android:exported="true"
            android:label="@string/title_activity_daozhao">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.daozhao.hello.activity.CriminalActivity"
            android:exported="true"
            android:label="@string/crime">
        </activity>

        <service android:name=".service.DaozhaoPushService" android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:authorities="com.daozhao.hello.fileProvider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>

        <provider
            android:name=".service.MyContentProvider"
            android:authorities="@string/account_auth_provider"
            android:exported="false"
            android:syncable="true"/>

        <service
            android:name=".service.MySyncService"
            android:exported="true"
            android:process=":core"
            tools:ignore="Instantiatable">
            <intent-filter tools:ignore="ExtraText">
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>

        <receiver android:name=".service.MyBroadcastReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".service.AlarmReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.daozhao.alarm.schedule.action" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>